body {
    .header {
        background-color: #477bff;
        color: #fff;
        margin-bottom: 2rem;
        padding: 3rem 3rem;
        text-align: center;
    }
    .description {
        text-align: center;
    }
    .subheader {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .narrowcrop {
        width: 400px;
        height: 100px;
        overflow: hidden;
    }
}

