body {
    .header {
        background-image: url("cornchip background.jpg");
    }
    .overlay {
        position: fixed;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        margin-bottom: 2rem;
        padding: 3rem 3rem;
        text-align: center;
        z-index: 2;
    }
    .description {
        text-align: center;
    }
    .banner{
        position:absolute;
        clip:rect(0px,60px,200px,0px);
    }
}

