body {
    .header {
        background-image: url("cornchip background.jpg");
        color: #fff;
        margin-bottom: 2rem;
        padding: 3rem 3rem;
        text-align: center;
    }
    .description {
        text-align: center;
    }
    .banner{
        position:absolute;
        clip:rect(0px,60px,200px,0px);
    }
}

