{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h2>Account Information</h2>
    <form action="/index" method="post">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Currently Owned Stocks</th>
                    <th>Number of Shares</th>
                    <th>Stock Price</th>
                    <th>Total Value of Stock</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.symbol }}</td>
                        <td>{{ stock.total_shares}}</td>
                        <td>{{ stock.price | usd }}</td>
                        <td>{{ (stock.price * stock.total_shares) | usd }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Cash Balance</th>
                    <th>Grand Total</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{ cash | usd }}</td>
                        <td>{{ grand_total | usd }}</td>
                    </tr>
            </tbody>
        </table>
    </form>
{% endblock %}
