#submit {
    background-color: #4787a2 !important;
}
.header{
    color: #fff;
    background-image: url('pattern.jpg');
    background-size: 1000px 1000px;
    text-align: center;
    margin-bottom: 2rem;
    padding: 3rem 3rem;
    border-radius: 20px;
}
.small_break {
    display: block;
    content: "";
    margin: 10px 0;
}

.page {
    color: #fff;
    text-align: center;
    overflow: auto;
    position: relative;
  }
.explanation {
    margin: auto;
    text-align: center;
    width: 950px;
}

h3, h4, th {
    color: #2d578b;
}
h2 {
    color: #2d578b;
    font-style: italic;
}
