{% extends "layout.html" %}


{% block content %}
    <h2>Your Groupings</h2>
    <br>
    <div>
        write something here
    </div>
    <br>
    <div>
        {% for group in groups %}
                <h3>Group {{ loop.index }}</h3>
                <table class="table table-bordered table-striped">
                    {% for name in group %}
                    <tr>
                        <td>{{ name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endfor %}
    </div>
    <br class="small_break">
    <div>
        <form name="again" action="/groupings" method="post">
            <div>
                <button class="btn btn-primary" id="submit">Randomize Again</button>
            </div>
        </form>
        <br class="small_break">
        <form name="index" action="/" method="get">
            <div>
            <button class="btn btn-primary" id="submit">Return to Homepage</button>
            </div>
    </div>
{% endblock %}
