{% extends "layout.html" %}

{% block content %}
  <h2>Your Generator for Preference Guided Randomized Groupings</h2>
  <br>
  <div>
    It’s just what it sounds like, a thoughtful randomized group generator! Thoughtful Randomness  can create any desired number groups from any set of people, while making sure their listed preferences for the other people they want to (or don’t want to) be with are best respected.
    Under the conditions given, the most optimal decisions will be made to satisfy. Whether it be for making sure teammates get the most enjoyable experience by being with their friends, or avoiding possible conflicts, creating the groups that accommodate the majority best, Thoughtful Randomness has you covered!
  </div>
  <br>
  <h3>How many people would you like to group?</h3>
  <br>
  <div>
    <form name="index" action="/" method="post" required>
      <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="people" placeholder="Number of People"type="number" min = "2" required>
        <br>
        <button class="btn btn-primary" id="submit">Enter</button>
      </div>
    </form>
  </div>
{% endblock %}

