{% extends "layout.html" %}

{% block content %}

<h1>Thoughtful Randomness</h1>
<br>
<h3>How many groups would you like to form?</h3>
<form name="group" action="/input" method="post" required>
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="groups" placeholder="Number of Groups"type="number" min="1">
    </div>
    <br>
    <div>
        In the first column, first input the names of all the people you wish to group. Afterwards, select their preferences for the other people in the second column.
    </div>
    <br>
    <h3>People and Preferences</h3>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Names</th>
                    <th>Preferences</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of people; let i = index">
                    <td>
                        <input autocomplete="off" class="form-control mx-auto w-auto" name="name" type="text" id="name{{ person }}" oninput="updatePreferences()">
                    </td>
                    <td>
                      <ng-select [items]="getPreferences(i)" bindLabel="name" bindValue="name" [(ngModel)]="person.preferences" multiple>
                        <ng-option value="no_preference">No Preference</ng-option>
                      </ng-select>
                    </td>
                  </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button id="submit">Create Groups!</button>
    </div>
</form>
{% endblock %}
