{% extends "layout.html" %}

{% block content %}

<h1>Thoughtful Randomness</h1>
<br>
<h3>How many groups would you like to form?</h3>
<form name="group" action="/input" method="post" required>
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="groups" placeholder="Number of Groups"type="number" min="1">
    </div>
    <br>
    <div>
        In the first column, first input the names of all the people you wish to group. Afterwards, select their preferences for the other people in the second column.
    </div>
    <br>
    <h3>People and Preferences</h3>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Names</th>
                    <th>Preferences</th>
                </tr>
            </thead>
            <tbody>
                {% for person in range(people) %}
                    <tr *ngFor="let person of people; let i = index">
                        <td>
                            <input autocomplete="off" class="form-control mx-auto w-auto" name="name" type="text" [(ngModel)]="people[i].name" (input)="updatePreferences()">
                        </td>
                        <td>
                            <ng-select [items]="getPreferences(i)" bindLabel="name" bindValue="name" [(ngModel)]="people[i].preferences" multiple>
                                <ng-option value="no_preference">No Preference</ng-option>
                            </ng-select>
                        </td>
                    </tr>
                {% endfor %}

                <script>

                    function updatePreferences() {
                        let names = [];
                        for (let i = 0; i < {{ people }}; i++) {
                            let name = document.getElementById(`name${i}`).value;
                            if (name) {
                                names.push(name);
                            }
                        }

                        for (let i = 0; i < {{ people }}; i++) {
                            let select = document.getElementById(`preferences${i}`);
                            select.innerHTML = '<option value="no_preference">--</option>';
                            // Add default option
                            names.forEach((name, index) => {
                                if (index !== i) {
                                    // Exclude the name in the same row
                                    let option = document.createElement('option');
                                        option.value = name;
                                        option.text = name;
                                select.appendChild(option);
                            }
                        });
                    }
                }
                </script>
            </tbody>
        </table>
    </div>
    <div>
        <button id="submit">Create Groups!</button>
    </div>
</form>
{% endblock %}
