.accordion-body {
    z-index: 1000; /* Ensure it appears above other elements */
    background-color: white; /* Ensure the background is visible */
    width: auto; /* Adjust width as needed */
    max-height: none;
    overflow: visible;
}
.accordion {
    position: relative;
}

tr {
    display: block;
    overflow: auto;
  }

tr {
    display: table;
    width: 100%;
  }
