.accordion-body {
    z-index: 1000;
    background-color: white;
    width: auto;
    max-height: none;
    overflow: visible;
    display: block;
}
.accordion {
    position: relative;
}

.accordion-collapse {
  display: block;
  overflow: visible;
}

table {
    display: block;
    overflow: auto;
  }

  table tbody {
    display: table;
    width: 100%;
  }
